<div class="container-fluid">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light" style="background: image_url('eventbride-banner-blur-2.jpg'); background-size: cover;">
    <div class="col-md-5 p-lg-5  my-5 text-left">
      <h1 class="font-weight-normal text-white display-2">Eventbride</h1>
      <p class="lead font-weight-normal text-white">Une plateforme sur laquelle vous pouvez participer et créer des évènements près de chez vous !</p>
      <%= link_to "Créer un évènement", new_event_path, class: "btn btn-dark mt-3" %>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
</div>